/****** root starts here ******/
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --font-guardian: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
  --font-graphik: "Graphik Webfont", -apple-system, "Helvetica Neue",
    "Droid Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

/****** root ends here ******/

/****** header starts here ******/
.topnav {
  margin-top: 10px;
}

.search-bar {
  border: 2px solid black !important;
  border-radius: 8px;
}

.brand {
  color: orange;
  font-size: 20px;
}

.login-modal-btn:hover {
  background-color: #f8f9fa;
  border-radius: 20px;
}
.signin-group a {
  color: black;
  font-size: medium;
  font-weight: bolder;
}

.nav-icon {
  font-size: large;
  font-weight: bolder;
}

.nav-icon i:hover {
  background-color: #f8f9fa;
  border-radius: 50%;
}

.bottom-nav a {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: grey;
  letter-spacing: 1.2px;
}

.bottom-nav a:hover {
  color: grey;
}

.bottom-nav a::after {
  content: "";
  border: 1px solid white;
  display: block;
  width: 30%;
  margin: 0px auto;
  margin-top: 3px;
}

.bottom-nav a:hover::after {
  border: 1px solid black;
}

.horizontal-line {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #dedede;
}
/****** header ends here ******/

.call-to-action .bg-div {
  background-color: rgb(221,235,227) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading1 {
  font-family: var(--font-guardian);
  font-size: 30px;
  font-weight: 300px;
  letter-spacing: 0.35px;
  line-height: 32px;
}

.category-box {
  width: 100%;
}

.category-box::after {
  content: "";
  border: 1px solid #ddebe3;
  display: block;
  width: 80%;
  margin: 0px auto;
  margin-top: 3px;
}

.category-box:hover::after {
  border: 1px solid black;
}

.category-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.category-box:hover img {
  transform: scale(1.06);
  opacity: 1;
  transition: all 0.5s;
}

.about-company {
  background-color: #fdebd2;
}
.about-company p {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.how-it-works {
  font-family: var(--font-guardian);
  font-weight: 300;
}

footer {
  background-color: #2f466c;
  color: white;
}

.footer-header {
  font-family: var(--font-graphik);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer-menu li a {
  color: white;
  font-size: 13px;
}

.footer-menu {
  padding-left: 0px;
}

.product-card {
  border: none;
}
.product-card img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.product-card .card-body {
  height: 160px;
}
.product-card .product-name {
  line-height: 1.6;
  font-size: 14px;
  font-family: var(--font-graphik);
}

.product-card .ratings {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
}

.product-card .star-seller {
  color: #9560b8;
  font-family: var(--font-graphik);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 18px;
}

.product-card .discounted-price {
  line-height: 1.6px;
  font-family: var(--font-graphik);
  font-weight: 700;
  font-size: 16px;
}

.product-card .actual-price {
  color: #258635;
  font-family: var(--font-graphik);
  font-weight: 400;
}
.product-card .actual-price .amount {
  text-decoration: line-through;
}

.product-card .best-seller {
  background-color: #fdebd2;
  color: black;
}

/* category wise product starts here */
.info-section p {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.info-section {
  background-color: #f8ebe6;
}

.page-link {
  border-radius: 50% ;
  margin-right: 5px;
  background-color: rgba(34, 34, 34, 0.075);
}
/* category wise product ends here */
/* product starts here */

.product .images img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.product .selected-image img {
  width: 90%;
  height: 700px;
  object-fit: cover;
}

.buyer-detail .avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.product .accordion-item {
  border: none;
}

.product .accordion-item:focus {
  border: none;
  background-color: white;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
  color: black;
}

.review-images img {
  width: 95%;
  height: 200px;
  object-fit: cover;
}

/* product ends here */

@media only screen and (max-width: 600px) {
  .heading1 {
    font-size: 23px;
  }
  .about-company p, .info-section p {
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
  }
}

@media only screen and (max-width: 400px) {
  .product-card .card-body {
    height: auto;
  }
}