/****** root starts here ******/
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --font-guardian: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
  --font-graphik: "Graphik Webfont", -apple-system, "Helvetica Neue",
    "Droid Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

#important {
  color: rgb(166, 26, 46);
  padding-top: 5px;
  font-weight: bold;
  font-size: 15px;
}

/****** root ends here ******/

/****** header starts here ******/
.topnav {
  margin-top: 10px;
}

.search-bar {
  border: 2px solid black !important;
  border-radius: 8px;
}

.brand {
  color: orange;
  font-size: 20px;
}

.login-modal-btn:hover {
  background-color: #f8f9fa;
  border-radius: 20px;
}
.signin-group a {
  color: black;
  font-size: medium;
  font-weight: bolder;
}

.nav-icon {
  font-size: large;
  font-weight: bolder;
}

.nav-icon i:hover {
  background-color: #f8f9fa;
  border-radius: 50%;
}

.bottom-nav a {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: grey;
  letter-spacing: 1.2px;
}

.bottom-nav a:hover {
  color: grey;
}

.bottom-nav a::after {
  content: "";
  border: 1px solid white;
  display: block;
  width: 30%;
  margin: 0px auto;
  margin-top: 3px;
}

.bottom-nav a:hover::after {
  border: 1px solid black;
}

.horizontal-line {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #dedede;
}
/****** header ends here ******/

.call-to-action .bg-div {
  background-color: rgb(221, 235, 227) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading1 {
  font-family: var(--font-guardian);
  font-size: 30px;
  font-weight: 300px;
  letter-spacing: 0.35px;
  line-height: 32px;
}

.category-box {
  width: 100%;
}

.category-box::after {
  content: "";
  border: 1px solid #ddebe3;
  display: block;
  width: 80%;
  margin: 0px auto;
  margin-top: 3px;
}

.category-box:hover::after {
  border: 1px solid black;
}

.category-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.category-box:hover img {
  transform: scale(1.06);
  opacity: 1;
  transition: all 0.5s;
}

.about-company {
  background-color: #fdebd2;
}
.about-company p {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.how-it-works {
  font-family: var(--font-guardian);
  font-weight: 300;
}

footer {
  background-color: #2f466c;
  color: white;
}

.footer-header {
  font-family: var(--font-graphik);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer-menu li a {
  color: white;
  font-size: 13px;
}

.footer-menu {
  padding-left: 0px;
}

.product-card {
  border: none;
}
.product-card img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.product-card .card-body {
  height: 160px;
}
.product-card .product-name {
  line-height: 1.6;
  font-size: 14px;
  font-family: var(--font-graphik);
}

.product-card .ratings {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
}

.product-card .star-seller {
  color: #9560b8;
  font-family: var(--font-graphik);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 18px;
}

.product-card .discounted-price {
  line-height: 1.6px;
  font-family: var(--font-graphik);
  font-weight: 700;
  font-size: 16px;
}

.product-card .actual-price {
  color: #258635;
  font-family: var(--font-graphik);
  font-weight: 400;
}
.product-card .actual-price .amount {
  text-decoration: line-through;
}

.product-card .best-seller {
  background-color: #fdebd2;
  color: black;
}

/* category wise product starts here */
.info-section p {
  font-family: var(--font-graphik);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.info-section {
  background-color: #f8ebe6;
}

.page-link {
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(34, 34, 34, 0.075);
}
/* category wise product ends here */
/* product starts here */

#piping {
  color: #e1e3df;
}
.product-detail .sales-number {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.product-detail .cart-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgb(166, 26, 46);
}

.product-detail .product-name {
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
  font-weight: 300;
  letter-spacing: 0.35px;
  font-size: 23px;
}

.product-detail .price-info {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.product-detail .price-info .actual-price {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #595959 !important;
}

.actual-price .amount {
  text-decoration: line-through;
}

.colors {
  background-color: rgb(66, 68, 188);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

#blue {
  background-color: blue;
  border: 1px solid blue;
}
#orange {
  background-color: orange;
  border: 1px solid orange;
}

#red {
  background-color: red;
  border: 1px solid red;
}

#black {
  background-color: black;
  border: 1px solid black;
}

#pink {
  background-color: pink;
  border: 1px solid pink;
}

#white {
  background-color: white;
  border: 1px solid rgb(208, 208, 208);
}

.color-btn {
  display: inline-block;
}

.product-size span {
  cursor: pointer;
}

.cart-btn {
  border-radius: 20px;
}
.product .images-variation img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.product .selected-image img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.buyer-detail .avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.buyer-detail {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.buyer-detail .buyer-name {
  text-decoration: underline;
}
.product .accordion-item {
  border: none;
}

.accordion-button {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.accordion-button:hover {
  background-color: #efefef !important;
  border-radius: 16px;
}
.product .accordion-item:focus {
  border: none;
  background-color: white;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
  color: black;
}

.accordion-body {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.05px;
  text-align: justify;
}

.review-images img {
  width: 95%;
  height: 200px;
  object-fit: cover;
}

.review-data .review-number {
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
  font-weight: 300;
  letter-spacing: 0.35px;
  font-size: 20px;
  line-height: 32px;
}

.review .review-text {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.03px;
  line-height: 20px;
}

.review img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-page .product-card img {
  height: 200px;
}
/* product ends here */

/* cart starts here */
.section-cart .home-link a {
  border-radius: 20px;
  font-weight: 400;
}

.section-cart img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cart-detail {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  border-radius: 8px;
}

.quantity-btn {
  border: 1px solid rgba(37, 37, 37, 0.2);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 18px;
}

.decrement-btn {
  margin-right: 5px;
}

.quantity-btn button {
  background-color: white;
  border: none;
}

.cart-product .product-name {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}

.cart-product .size,
.cart-product .selectedColor {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  padding-top: 5px;
  color: #222;
}

.cart-price {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.cart-price .item-price {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #595959;
}

.cart-price .delivery-time {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.delivery-time .time {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* cart ends here */

@media only screen and (max-width: 600px) {
  .heading1 {
    font-size: 23px;
  }
  .about-company p,
  .info-section p {
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
  }

  .product .selected-image img {
    height: 450px;
  }

  .review img {
    height: 250px;
  }

}

@media only screen and (max-width: 400px) {
  .product-card .card-body {
    height: auto;
  }
}
